.menu {
  height: calc(100vh - 150px);
  background: center/cover url('/img/pagina_inicial/introdução.jpg');  
}

.menu-container {
  max-width: 960px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.menu-container::after, .menu-container::before {
	content: '';
	display: table;
	clear: both;
}

.menu-logo a {
	display: block;
	float: left;
	margin-left: 10px;
  max-width: 100px;
}
.menu-logo img {
  padding: 0px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.menu-nav {
	float: right;
	margin-right: 10px;
}

.menu-nav li {
	display: inline-block;
}

.menu-nav a {
  display: inline-block;
	margin-top: 20px;
  margin-right: 20px;
	text-decoration: none;
	color: #09042B;
	font-size: 1.125em;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  position: relative;
}

.menu-nav a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #09042B;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute
}

.menu-nav a:hover::after,
.menu-nav a.ativo {
  width: 100%;
}

/* Responsivo */

@media (max-width: 630px) {
  .menu {
    height: calc(100vh -100px);
    background: center/cover url('/img/pagina_inicial/introdução.jpg');  
  }

  .menu-container {
    text-align: center;
  }

	.menu-nav {
		float: none;
		clear: both;
	}

  .menu-nav li a {
    margin-top: 0px;
  }

  .menu-logo img {
    margin-bottom: 10px;
  }
}

@media (max-width: 595px) {
  .menu {
    height: calc(100vh - 200px);
    background: center/cover url('/img/pagina_inicial/introdução.jpg');  
  }
}

@media (max-width: 420px) {
  .menu {
    height: calc(100vh - 140px);
    background: center/cover url('/img/pagina_inicial/introdução.jpg');  
  }
}

@media (max-width: 380px) {
  .menu {
    height: calc(100vh - 50px);
    background: center/cover url('/img/pagina_inicial/introdução.jpg');  
  }
  .menu-container {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }
}