.gerencie {
  display: flex;
  background: #05051B ;
}

.gerencie-conteiner {
  position: relative;
  align-items: center;
  margin: -26px auto;
  margin-bottom: 80px;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  background: #080135;
  font-family: "Popins", sans-serif;
  font-weight: 600;
  font-size: 1em;
  padding-top: 10px;
  text-align: center;
  color: #BBCAEE;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.gerencie-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
	padding-bottom: 100px;
  background: #05051B ;
}

.gerencie-icons h3 {
  font-size: 1em;
  font-family: "Popins", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #BBCAEE;
  text-transform: uppercase;
}

/* Responsivo */

@media (max-width: 790px) {
  .gerencie-conteiner {
    margin-bottom: 60px;
    font-size: 0.9em;
  }
  .gerencie-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;    
  } 
}

@media (max-width: 500px) {
  .gerencie-icons img {
    width: 100px;
  }
  .gerencie-icons h3 {
    font-size: 0.85em;
  }
}
 

@media (max-width: 671px) {
  .gerencie-conteiner {
    font-size: 0.8em;
    align-items: center;
  }    
}

@media (max-width: 590px) {
  .gerencie-conteiner {
    font-size: 0.73em;
    align-items: center;
  }
}

@media (max-width: 430px) {
  .gerencie-conteiner {
    font-size: 0.65em;
    align-items: center;
  }
  .gerencie-icons {
    gap: 10px;
    padding-bottom: 80px;
  }
  .gerencie-icons img {
    width: 70px;
  }

  .gerencie-icons h3 {
    font-size: 0.6em;
  }    
}