.clientes {
  background: #080135;
}

.clientes-container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.clientes h1 {
  font-family: "Poppins" , sans-serif;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-left: 150px;
  font-weight: 700;
  font-size: 3em;
  color: #E9E9FF;
}

.clientes-img {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  gap: 100px;
}