.contato{
  height: calc(160vh);
  background: center/cover url('/img/pagina_inicial/contato.jpg');
}

.contato-container {
  max-width: 960px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.contato h1 {
  font-family: "Poppins" , sans-serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 3em;
  color: #05051B;
}

.contato-form {
  display: block;
  font-family: "Poppins" , sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  color: #080135;
  margin-top: 20px;
}

.contato-container label {
  display: block;
  padding-top: 30px;
}

.contato-container input, textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background: #e9e9ffad;
  border: #c4c4fa;
  padding: 14px;
  border-radius: 5px;
  width: 50%;
} 

.botao {
  margin-top: 20px; 
}

/* Responsivo */

@media (max-width: 680px) {
  .contato h1 {
    font-size: 2em;
    padding-bottom: 0px;
  }
  .contato-form {
    font-size: 1.125em;
  }
  .botao {
    padding: 12px 28px;
  }
}

@media (max-width: 480px) {
  .contato-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .contato h1 {
    font-size: 1.8em;
  }
  .contato-form {
    font-size: 1em;
  }
  .contato-container input, textarea {
    width: 90%;
  }
  .botao {
    padding: 10px 26px;
  }
}
