.footer {
  background: #05051B;
}

.footer-conteiner {
  display: grid;
  max-width: 960px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.footer-logo {
  margin-left: 30px;
}


.footer-conteiner a, li {
  text-decoration: none;
  color: #BBCAEE;
}

.footer-contato h3 ,
.footer-informacoes h3 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 600;
  color: #E9E9FF;
}

.footer-contato li {
  margin-bottom: 10px;
}

.footer-informacoes li {
  margin-bottom: 15px;
}
.redes img {
  margin-top: 20px;
  margin-right: 20px;
}

.footer-copy {
  display: block;
  grid-column: 1/-1;
  margin-top: 40px;
  color: #BBCAEE;
  padding-left: 30px;
  padding-bottom: 40px;
}

/* Responsivo */

@media (max-width: 600px) {
  .footer-contato h3 ,
  .footer-informacoes h3 {
    font-size: 1em;
  }
  .footer-conteiner a, li {
  font-size: 0.9em;
  }
}

@media (max-width: 600px) {
  .footer-logo img {
    width: 60px;
    margin-left: 10px;
  }
  .footer-logo2 img {
    width: 80px;
  }
  .footer-contato h3 ,
  .footer-informacoes h3 {
    font-size: 0.9em;
  }
  .footer-conteiner a, li {
  font-size: 0.9em;
  }
}

@media (max-width: 510px) {
  .footer-logo {
    display: none;    
  }

  .footer-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (max-width: 350px) {
  .footer-contato h3 ,
  .footer-informacoes h3 {
    font-size: 0.9em;
  }
  .footer-conteiner a, li {
  font-size: 0.8em;
  }
  .footer-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .redes img {
    margin-top: 20px;
    margin-right: 10px;
  }
  .footer-copy {
    margin-top: 10px;
    color: #BBCAEE;
    padding-left: 30px;
    padding-bottom: 40px;
    font-size: 0.9em;
  }
}