@import "/CSS/01-header.css";
@import "/CSS/02-introducao.css";
@import "/CSS/03-gerencie.css";
@import "/CSS/04-modulos.css";
@import "/CSS/05-clientes.css";
@import "/CSS/06-contato.css";
@import "/CSS/07-footer.css";

/* Reset */

body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Popins", sans-serif;
  color: #09042b;
}

* {
  box-sizing: border-box;
  list-style: none;
}

span {
  color: #5202FC;
}